<style>
  #shopify-section-{{ section.id }} .button-view-cart {
    {% render 'button-vars',
      background: section.settings.view_cart_background_color,
      text: section.settings.view_cart_text_color
    %}
  }

  #shopify-section-{{ section.id }} .button-checkout {
    {% render 'button-vars',
      background: section.settings.checkout_background_color,
      text: section.settings.checkout_text_color
    %}
  }
  .confidence-text{
    line-height: normal;
    color: #34A853;
    font-weight: 500;
  }
  .color-green{
    color: #34A853;
  }

  .save-percentage-badge .info-badge.sale-badge {
      font-size: 11px;
      padding: 3px 5px;
  }
</style>

<cart-modal position="right" class="modal modal-drawer modal-drawer--right cart-modal" id="cart-modal">
  <div class="h-full" slot="content" tabindex="-1">
    {% if cart != empty %}
      <cart-form>
        <div class="flex flex-col h-full">
          <div
            class="flex flex-col grow pb-6 overflow-y-auto"
            id="CartModal-ScrollBody"
            data-preserve-scroll
          >
            <div class="modal-header px-[--cart-modal-px]">
              <div class="flex items-center">
                <h2 class="h4">
                  {{ 'sections.cart.title' | t }}
                </h2>

                <button
                  class="modal-close ml-auto relative -right-2"
                  data-button-close
                  aria-label="{{ 'accessibility.close_modal' | t }}"
                >
                  {% render 'icon-times' %}
                </button>
              </div>

              {% render 'free-shipping-indicator', class: 'mt-1' %}
            </div>

            <div class="">
              {% for item in cart.items %}
                {% assign index = item.index | plus: 1 %}
                {% render 'cart-modal-item',
                  item: item,
                  class: 'pt-3 px-[--cart-modal-px] mb-3 first:border-t-0 border-t border-separator gap-y-1',
                  index: index
                %}
              {% endfor %}
            </div>

            {% render 'cart-modal-product-recommendations' %}
          </div>

          <div class="mt-0 px-[--cart-modal-px] border-t">
            {% if section.settings.show_cart_note or section.settings.show_shipping_estimator %}
              <div class="flex flex-wrap gap-x-6 gap-y-4 my-2 md:my-3">
                {% if section.settings.show_cart_note %}
                  <modal-trigger class="contents" target="#cart-modal-add-order-note">
                    <button class="flex gap-3 text-xs md:text-sm hover:underline underline-offset-4">
                      <div class="icon-xs md:icon-sm">
                        {% render 'icon-pencil' %}
                      </div>
                      <span class="order-note-button-label">
                        {% if cart.note != blank %}
                          {{ 'sections.cart.edit_note' | t }}
                        {% else %}
                          {{ 'sections.cart.add_note' | t }}
                        {% endif %}
                      </span>
                    </button>
                  </modal-trigger>
                {% endif %}

                {% if section.settings.show_shipping_estimator %}
                  <modal-trigger class="contents" target="#cart-modal-estimate-shipping">
                    <button class="flex gap-3 text-xs md:text-sm hover:underline underline-offset-4">
                      <div class="icon-xs md:icon-sm">
                        {% render 'icon-truck' %}
                      </div>
                      <span>{{ 'sections.cart.estimate_shipping' | t }}</span>
                    </button>
                  </modal-trigger>
                {% endif %}
              </div>
            {% endif %}
          </div>

          <div class="mt-0 px-[--cart-modal-px] pt-4 sm:pt-2 pb-2 sm:pb-4 border-t">

            <div class="total-with-discount-wrapper">
              {% liquid
                
                assign compare_at_total = 0
                assign total_compare_at_savings = 0
                assign c_savings_percent = 0
                assign regular_price_total = 0
                assign discount_total = cart.total_discount
                
                for item in cart.items
                assign item_total_compare_price = 0
                assign quantity = item.quantity
                assign regular_price = item.variant.price
                assign compare_price = item.variant.compare_at_price
                assign item_total_regular_price = regular_price | times: quantity
                
                if compare_price and compare_price > regular_price
                assign item_total_compare_price = compare_price | times: quantity
                else
                assign item_total_compare_price = regular_price | times: quantity
                endif
                
                assign compare_at_total = compare_at_total | plus: item_total_compare_price
                assign regular_price_total = regular_price_total | plus: item_total_regular_price
                
                if compare_price and compare_price > regular_price
                assign single_item_save = compare_price | minus: regular_price
                assign line_item_save = single_item_save | times: quantity
                assign total_compare_at_savings = total_compare_at_savings | plus: line_item_save
                endif
                
                assign item_level_discount_percentage = 0
                if item.line_level_discount_allocations.size > 0
                for discount in item.line_level_discount_allocations
                assign item_level_discount_percentage = item_level_discount_percentage | plus: discount.discount_application.value | round
                endfor
                endif
                endfor
                
                if compare_at_total > 0 and total_compare_at_savings > 0
                assign c_savings_percent = total_compare_at_savings | times: 100.0 | divided_by: compare_at_total | round
                endif
                
                assign cart_level_discount_percentage = 0
                for discount in cart.cart_level_discount_applications
                assign cart_level_discount_percentage = cart_level_discount_percentage | plus: discount.value | round
                endfor
                
                assign grand_saving = c_savings_percent | plus: item_level_discount_percentage | plus: cart_level_discount_percentage
                
                assign total_line_price = compare_at_total | minus: regular_price_total
                assign total_saved_amount = total_line_price | plus: discount_total
                
              %}  
              
              <style>
                #grand-saving {
                  font-size: 14px;
                  color: #34A853;
                }
                #grand-saving svg {
                  width: 14px;
                }
                
              </style>
              
              {% if localization.country == 'Pakistan' or localization.country == 'United Arab Emirates' %}{% endif %}     
              <div class="mb-2 h6 leading-none flex items-center justify-between gap-4 flex-properties cart__summary-item cart__total summary-total-price-wrapper">
                <span class="cart__original-total-label">
                  Total Price 
                </span>
                <span class="summary-total-price" id="summary-total-price"> 
                  {{ compare_at_total | money }}
                </span>
              </div>
              <div class="mb-2 h6 leading-none flex items-center justify-between gap-4 flex-properties cart__summary-item cart__total summary-total-compare-wrapper font-600 color-green">
                <span class="cart__original-total-label flex items-center gap-1">
                  Discount <span id="grand-saving" class="grand-saving flex items-center whitespace-nowrap gap-1"> {% render 'icon-discount' %} {{ grand_saving | append: '%' }}  </span>
                </span>
                <span class="summary-total-compare-price" id="summary-total-compare-price"> 
                  -{{ total_saved_amount | money }}
                </span>
              </div>
          
            </div>

            <div class="h6 leading-none flex items-center justify-between gap-4 font-600">
              <div>
                {{ 'sections.cart.total' | t }}
              </div>

              <div class="cart-total">{{ cart.total_price | money_with_currency }}</div>
            </div>

            {% if section.settings.show_tax_and_shipping_message %}
              <div class="text-xs md:text-sm text-foreground/75 mt-4">
                {% render 'cart-policy-text' %}
              </div>
            {% endif %}

            {% render 'product-delivery-dates', block: section, class: 'my-2', text_size_delivery_class: 'text-sm font-600' %}

            <div class="cart-modal-buttons flex flex-wrap gap-2 md:gap-3 mt-2">
              {% if section.settings.show_view_cart_button or section.settings.show_checkout_button == false %}
                <a
                  data-instant
                  href="{{ routes.cart_url }}"
                  class="button button-secondary button-view-cart min-w-fit max-sm:text-xs flex-1"
                >
                  {{ 'sections.cart.view_cart' | t }}
                </a>
              {% endif %}

              {% if section.settings.show_checkout_button %}
                {% form 'cart', cart, data-form-button-loading: true, class: 'contents' %}
                  <button
                    type="submit"
                    name="checkout"
                    class="button button-primary button-checkout min-w-fit max-sm:text-xs flex-1"
                  >
                    {{ 'sections.cart.checkout' | t }}
                  </button>
                {% endform %}
              {% endif %}
            </div>
            <p class="confidence-text text-sm text-center mt-1"> Shop with confidence - 30 days easy return </p>
          </div>
        </div>
      </cart-form>

      <order-note-drawer
        class="modal modal--absolute modal-drawer modal-drawer--bottom cart-modal-child"
        position="bottom"
        id="cart-modal-add-order-note"
        animation="fade-in"
      >
        <div slot="content" tabindex="-1" class="px-8 md:px-12 py-8 md:py-10">
          <div class="flex justify-between items-center mb-6 md:mb-8">
            <div class="h5">{{ 'sections.cart.note' | t }}</div>
            <button class="modal-close" data-button-close aria-label="{{ 'accessibility.close_modal' | t }}">
              {% render 'icon-times' %}
            </button>
          </div>
          <form data-form-button-loading>
            <div class="form-floating">
              <textarea
                class="input"
                name="note"
                id="CartModal-Note"
                placeholder="{{ 'sections.cart.note' | t }}"
                rows="4"
              >{{ cart.note }}</textarea>
              <label for="CartModal-Note">{{ 'sections.cart.note' | t }}</label>
            </div>
            <button type="submit" class="button w-full mt-6 md:mt-8">
              {{ 'sections.cart.save_note_button' | t }}
            </button>
            <div class="message message-danger text-danger mt-6 hidden">
              {{ 'sections.cart.save_note_failed' | t }}
            </div>
          </form>
        </div>
      </order-note-drawer>

      <modal-drawer
        class="modal modal--absolute modal-drawer modal-drawer--bottom cart-modal-child"
        position="bottom"
        id="cart-modal-estimate-shipping"
        animation="fade-in"
      >
        <div slot="content" tabindex="-1" class="p-8 md:p-12">
          <div class="flex justify-between items-center mb-6 md:mb-8">
            <div class="heading text-lg md:text-h5">
              {{ 'sections.shipping_estimator.title' | t }}
            </div>
            <button class="modal-close" data-button-close aria-label="{{ 'accessibility.close_modal' | t }}">
              {% render 'icon-times' %}
            </button>
          </div>

          {% render 'shipping-estimator' %}
        </div>
      </modal-drawer>
    {% else %}
      <button
        class="modal-close absolute right-6 top-6 md:right-8 md:top-8"
        data-button-close
        aria-label="{{ 'accessibility.close_modal' | t }}"
      >
        {% render 'icon-times' %}
      </button>

      <div class="text-center h-full flex flex-col items-center justify-center">
        <p class="text-h4">{{ 'sections.cart.empty' | t }}</p>
        <a class="button button-primary mt-8" href="{{ settings.cart_empty_button_link }}">
          {{ 'general.continue_shopping' | t }}
        </a>
      </div>
    {% endif %}
  </div>
</cart-modal>

{% schema %}
{
  "name": "t:sections.cart-modal.name",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_tax_and_shipping_message",
      "label": "t:sections.cart-modal.settings.show_tax_and_shipping_message.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "label": "t:sections.cart-modal.settings.show_cart_note.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_shipping_estimator",
      "label": "t:sections.cart-modal.settings.show_shipping_estimator.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_view_cart_button",
      "label": "t:sections.cart-modal.settings.show_view_cart_button.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_checkout_button",
      "label": "t:sections.cart-modal.settings.show_checkout_button.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:sections.cart-modal.headers.product_recommendations"
    },
    {
      "type": "text",
      "id": "product_recommendations_heading",
      "label": "t:sections.cart-modal.settings.product_recommendations_heading.label",
      "default": "You may also like"
    },
    {
      "type": "product_list",
      "id": "product_recommendations",
      "label": "t:sections.cart-modal.settings.product_recommendations.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.button_colors"
    },
    {
      "type": "color",
      "id": "view_cart_background_color",
      "label": "t:sections.cart-modal.settings.view_cart_background_color.label"
    },
    {
      "type": "color",
      "id": "view_cart_text_color",
      "label": "t:sections.cart-modal.settings.view_cart_text_color.label"
    },
    {
      "type": "color",
      "id": "checkout_background_color",
      "label": "t:sections.cart-modal.settings.checkout_background_color.label"
    },
    {
      "type": "color",
      "id": "checkout_text_color",
      "label": "t:sections.cart-modal.settings.checkout_text_color.label"
    }
  ]
}
{% endschema %}
