{% assign faqs_items = page.metafields.custom.faqs.value %}
{% if faqs_items != blank %}
{% render 'section-bg-number-vars' %}

<style>
  #shopify-section-{{ section.id }} {
    --content-width: {% render 'get-content-width', type: section.settings.content_width %};
  }
</style>
{% liquid

  assign section_classes = ' app-section '

  if section.settings.remove_horizontal_space
    assign section_classes = section_classes | append: ' !px-0 '
  endif

  if section.settings.remove_vertical_space
    assign section_classes = section_classes | append: ' !py-0 '
  endif


  if section.settings.link_url != blank
    assign link_url = section.settings.link_url
  else
    assign link_url = null
  endif
%}
 <section {% render 'section-attrs', class: section_classes %}>
  <div class="section-body trim-margins faq-section-container {{ section.settings.text_alignment }}">
    {% render 'section-header', link_text: section.settings.link_text, link_url: link_url, new_tab, section.settings.new_tab %}
    <div class="section-body-wrapper">

        <div class="product-faqs-wrapper" id="faqs">
          <div class="product-faqs-items" data-animation-auto-order>

          {% for faq in faqs_items %}
            {% if faq != blank %}
          <button class="metaobject-accordion" data-animation="block" data-animation-group="{{ section.id }}">
            {{ faq.question.value }}
            {% render 'icon-chevron' %}
        </button>
          <div class="metaobject-panel">
            <div class="prose metaobject-paneel-inner">
            {{ faq.answer | metafield_tag }}
            </div>
          </div>
        {% endif %}
        {% endfor %}
        </div>
</div>


<script>
const acc = document.getElementsByClassName("metaobject-accordion");
for (let i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    // Close all panels first
    for (let j = 0; j < acc.length; j++) {
      if (acc[j] !== this) {
        acc[j].classList.remove("metaobject-active");
        acc[j].nextElementSibling.style.maxHeight = null;
      }
    }
    
    // Toggle current one
    this.classList.toggle("metaobject-active");
    const panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    }
  });
}
</script>
    </div>
  </div>
</section>
<style>
    .product-faqs-wrapper {
        max-width: 1000px;
        margin: 0 auto;
    }
    .metaobject-accordion {
    cursor: pointer;
    font-size: calc(var(--size-text-base) + 2px);
    padding: 10px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-weight: 500;
    background-color: transparent;
    border-bottom: 1px solid #8080803d;    
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    .meta-main-heading {
    margin-top: 0;
    font-size: 20px;
    }

    .metaobject-accordion:after {
    font-weight: 700;
    float: right;
    margin-left: 5px;
    transform: rotate(90deg);
    transition: transform .3s ease;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -3px;
    }

    .metaobject-accordion svg {
        min-height: 30px;
        min-width: 30px;
        max-height: 30px;
        max-width: 30px;
        border-radius: 50%;
        transform: rotate(90deg);
        transition: transform .2s;
        background-color: rgb(var(--color-foreground) / 0.12);
        padding: 8px;
    }

    .metaobject-active svg {
    transform: rotate(270deg);
    }

    .metaobject-panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    line-height: 22px;
    transition: max-height 0.2s ease-out;
    text-align: left;
    }

    .metaobject-panel .metaobject-paneel-inner {
        margin: 16px 0;
    }

    @media (max-width: 769px) {
    .product-faqs-wrapper {
        margin-bottom: 0;
    }
    .product-faqs-items button.metaobject-accordion:first-child {
        padding-top: 0;
        }
        .faq-section-container {
            padding-top: 24px;
        }
    }

    @media screen and (max-width: 480px){
    .metaobject-accordion {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
        position: relative;
    }

    .metaobject-accordion:after {
        margin-left: 0;
        margin-top: -17px;
        position: absolute;
        right: 0px;
        top: 50%;
        height: 24px;
        width: 24px;
        transform: rotate(90deg);
        }
    
    .metaobject-active::after {
        transform: rotate(270deg);
    }
    
    
    .meta-main-heading{
        margin-top: unset;
    }
    .metaobject-panel{
        padding: 0;
    }
    
    .meta-main-heading{
        margin-bottom: 0;
        font-size: 15px;
    }
    
    .metaobject-panel .metafield-rich_text_field p,
    .metaobject-panel {
        font-size: 14px;
    }
    
    .metaobject-panel .metafield-rich_text_field p{
        margin-bottom: 0px;
    }
    

    .metaobject-accordion svg {
        min-height: 25px;
        min-width: 25px;
        max-height: 25px;
        max-width: 25px;
        padding: 6px;
    }

}
</style>
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "FAQPage",
    "mainEntity": [
      {%- assign faqs_items = page.metafields.custom.faqs.value -%}
      {%- for faq in faqs_items -%}
        {
          "@type": "Question",
          "name": "{{- faq.question.value | escape -}}",
          "acceptedAnswer": {
            "@type": "Answer",
            "text": "{{- faq.answer | metafield_text | escape -}}"
          }
        }{%- if forloop.last == false %},{% endif -%}
      {%- endfor -%}
    ]
  }
</script>
{% endif %}

{% schema %}
{
    "name": "Page Meta Faqs",
      "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.all.full_width.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_horizontal_space",
      "label": "t:sections.apps.settings.remove_horizontal_space.label"
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_space",
      "label": "t:sections.apps.settings.remove_vertical_space.label"
    },
    {
      "type": "select",
      "id": "content_width",
      "label": "t:sections.rich-text.settings.content_width.label",
      "options": [
        {
          "value": "small",
          "label": "t:sections.rich-text.settings.content_width.options__0.label"
        },
        {
          "value": "normal",
          "label": "t:sections.rich-text.settings.content_width.options__1.label"
        },
        {
          "value": "large",
          "label": "t:sections.rich-text.settings.content_width.options__2.label"
        },
        {
          "value": "extra-large",
          "label": "t:sections.rich-text.settings.content_width.options__3.label"
        },
        {
          "value": "full-width",
          "label": "t:sections.rich-text.settings.content_width.options__4.label"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "t:sections.all.headers.heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "t:sections.all.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "t:sections.featured-collection.settings.heading.label",
      "default": "Featured collection"
    },
    {
      "type": "select",
      "id": "heading_size",
      "label": "t:sections.all.heading_size.label",
      "options": [
        {
          "value": "h0",
          "label": "t:sections.all.heading_size.options__0.label"
        },
        {
          "value": "h1",
          "label": "t:sections.all.heading_size.options__1.label"
        },
        {
          "value": "h2",
          "label": "t:sections.all.heading_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:sections.all.heading_size.options__3.label"
        },
        {
          "value": "h4",
          "label": "t:sections.all.heading_size.options__4.label"
        },
        {
          "value": "h5",
          "label": "t:sections.all.heading_size.options__5.label"
        },
        {
          "value": "h6",
          "label": "t:sections.all.heading_size.options__6.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:sections.all.text_alignment.label",
      "options": [
        {
          "value": "text-left",
          "label": "t:sections.all.text_alignment.options.text_left.label"
        },
        {
          "value": "text-center",
          "label": "t:sections.all.text_alignment.options.text_center.label"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "html",
      "id": "link_text",
      "label": "t:sections.featured-collection.settings.link_text.label",
      "default": "View all"
    },
    {
      "type": "url",
      "id": "link_url",
      "label": "t:sections.featured-collection.settings.link_url.label",
      "info": "t:sections.featured-collection.settings.link_url.info"
    },
    {
      "type" : "checkbox",
      "id" : "new_tab",
      "label" : "Open in New Tab",
      "default": false
    },
        {
          "type": "select",
          "id": "heading_html_tag",
          "label": "t:sections.all.heading_html_tag.label",
          "options": [
            {
              "value": "h1",
              "label": "h1"
            },
            {
              "value": "h2",
              "label": "h2"
            },
            {
              "value": "h3",
              "label": "h3"
            },
            {
              "value": "h4",
              "label": "h4"
            },
            {
              "value": "h5",
              "label": "h5"
            },
            {
              "value": "h6",
              "label": "h6"
            },
            {
              "value": "p",
              "label": "p"
            },
            {
              "value": "span",
              "label": "span"
            },
            {
              "value": "div",
              "label": "div"
            }
          ],
          "default": "p",
          "info": "t:sections.all.heading_html_tag.info"
        },
    {
      "type": "header",
      "content": "t:sections.all.headers.colors"
    },
    {
      "type": "color",
      "label": "t:sections.all.background_color.label",
      "id": "background_color"
    },
    {
      "type": "color",
      "label": "t:sections.all.text_color.label",
      "id": "text_color"
    },
    {
      "type": "color",
      "label": "t:sections.all.heading_color.label",
      "id": "heading_color"
    }
  ],
    "presets": [
        {
           "name": "Page Meta Faqs",
            "category": "Main Product"
        }
    ]
}
{% endschema %}